html, body {
  margin: 0;
  padding: 0px;
  background-color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  color: #502f73;
}

h1 {
  color: white;
  padding-left: 80px;
  padding-top: 80px;
  margin: 0;
  font-size: 50px;
}

h2 {
  color: white;
  padding-left: 80px;
  padding-bottom: 30px;
  margin: 0;
  font-size: 30px;
}

canvas {
  display: block;
}

#canvas {
  height: 700;
  width: 700;
}

#back {
  color:#502f73;
  font-size: 20px;
  letter-spacing: 3px;
}

a {
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  color: white;
}

h3 {
  /* font-size: 30px; */
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 70px;
  overflow: hidden;
  background-color: #7d52ab;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #502f73;
}

#head {
  background-color: #502f73;
  color: white;
}


#texty {
  padding-left: 80px;
  padding-top: 80px;
}